<!DOCTYPE html>
<html>
<head>
    <link href="/static/style.css" rel="stylesheet">
    <script src="/static/vendor/jquery-2.1.1.min.js"></script>
</head>
<body>
    <button id="button">{{ previous_word }}</button>
</body>
<script type="text/javascript">

word = "{{ word }}";

$(document).ready(function(){
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    var context = new AudioContext();

    var buffers = {};

    function load_sound(name){
        var url = '/static/audio/mp3/'+name+'.mp3';
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.responseType = 'arraybuffer';
        request.onload = function(){
            context.decodeAudioData(request.response, function(buffer){
                buffers[name] = buffer;
            }, function(){
                console.log('there was an error decoding audio');
            });
        }
        request.send();
    }

    function play(name){
        var buffer = buffers[name];
        var source = context.createBufferSource();
        source.buffer = buffer;
        source.connect(context.destination);
        source.start(0);
    }

    load_sound(word);

    $('#button').click(function(){
        play(word);
    });
});

</script>
</html>
